TravelGoodBPEL/src/travelGoodBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodBPEL" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="createItinerayRequest"/>
    <message name="createItinerayResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="travelGoodBPELOperationRequest"/>
    <message name="travelGoodBPELOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="travelGoodBPELPortType">
        <operation name="createItineray">
            <input name="input1" message="tns:createItinerayRequest"/>
            <output name="output1" message="tns:createItinerayResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input2" message="tns:travelGoodBPELOperationRequest"/>
            <output name="output2" message="tns:travelGoodBPELOperationResponse"/>
        </operation>
    </portType>
    <binding name="travelGoodBPELBinding" type="tns:travelGoodBPELPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItineray">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL"/>
            </output>
        </operation>
    </binding>
    <service name="travelGoodBPELService">
        <port name="travelGoodBPELPort" binding="tns:travelGoodBPELBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/travelGoodBPELService/travelGoodBPELPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGoodBPEL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodBPELPortTypeRole" portType="tns:travelGoodBPELPortType"/>
    </plnk:partnerLinkType>
</definitions>
