TravelGoodBPEL/src/travelGoodBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodBPEL" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL">
            <xsd:complexType name="itineraryType">
                <xsd:sequence>
                    <xsd:element name="flightsList" maxOccurs="unbounded" type="tns:flightType"></xsd:element>
                    <xsd:element name="hotelsList"></xsd:element>
                </xsd:sequence>
                <xsd:attribute name="itineraryID" type="xsd:string"/>
            </xsd:complexType>
            <xsd:complexType name="flightType">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightsListType">
                <xsd:sequence>
                    <xsd:element name="newElement" type="tns:flightType" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="createItinerayRequest">
        <part name="createItinerary_req" type="xsd:anyType"/>
    </message>
    <message name="createItinerayResponse">
        <part name="createItinerary_resp" type="tns:itineraryType"/>
    </message>
    <message name="getFlightsRequest">
        <part name="startAirport" type="xsd:string"/>
        <part name="endAirport" type="xsd:string"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flightsList_resp" type="tns:flightsListType"/>
    </message>
    <portType name="travelGoodBPELPortType">
        <operation name="createItinerary" parameterOrder="createItinerary_req">
            <input name="input1" message="tns:createItinerayRequest"/>
            <output name="output1" message="tns:createItinerayResponse"/>
        </operation>
    </portType>
    <binding name="travelGoodBPELBinding" type="tns:travelGoodBPELPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" parts="createItinerary_resp"/>
            </output>
        </operation>
    </binding>
    <service name="travelGoodBPELService">
        <port name="travelGoodBPELPort" binding="tns:travelGoodBPELBinding">
            <soap:address location="http://localhost:9080/travelGoodBPELService/travelGoodBPELPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGoodBPEL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodBPELPortTypeRole" portType="tns:travelGoodBPELPortType"/>
    </plnk:partnerLinkType>
</definitions>
