NiceViewClient/xml-resources/web-service-references/HotelService/wsdl/localhost_8080/Hotel_NiceView/HotelService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://types.fastmoney.imm.dtu.dk">

<xs:complexType name="creditCardInfoType">
<xs:sequence>
<xs:element name="expirationDate">
<xs:complexType>
<xs:sequence>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="name" type="xs:string"/>
<xs:element name="number" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>