TravelGoodBPELTest/xml-resources/web-service-references/travelGoodBPELPort/wsdl/localhost_9080/travelGoodBPELService/travelGoodBPELPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="travelGoodBPEL" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL">
  <types>
  </types>
  <message name="createItinerayRequest">
  </message>
  <message name="createItinerayResponse">
    <part name="part1" type="xsd:string">
    </part>
  </message>
  <message name="travelGoodBPELOperationRequest">
  </message>
  <message name="travelGoodBPELOperationResponse">
    <part name="part1" type="xsd:string">
    </part>
  </message>
  <portType name="travelGoodBPELPortType">
    <operation name="createItineray">
      <input message="tns:createItinerayRequest" name="input1">
    </input>
      <output message="tns:createItinerayResponse" name="output1">
    </output>
    </operation>
    <operation name="getFlights">
      <input message="tns:travelGoodBPELOperationRequest" name="input2">
    </input>
      <output message="tns:travelGoodBPELOperationResponse" name="output2">
    </output>
    </operation>
  </portType>
  <binding name="travelGoodBPELBinding" type="tns:travelGoodBPELPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItineray">
      <soap:operation/>
      <input name="input1">
        <soap:body namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" use="literal"/>
      </input>
      <output name="output1">
        <soap:body namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/travelGoodBPEL" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="travelGoodBPELService">
    <port binding="tns:travelGoodBPELBinding" name="travelGoodBPELPort">
      <soap:address location="http://192.168.1.103:9080/travelGoodBPELService/travelGoodBPELPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="travelGoodBPEL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodBPELPortTypeRole" portType="tns:travelGoodBPELPortType"/>
    </plnk:partnerLinkType>
</definitions>
