TravelGoodBPEL/src/localhost_8080/Airline/AirlineService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.airline/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.airline/">

<xs:element name="AirlineController" type="tns:AirlineController"/>

<xs:element name="AirlineControllerResponse" type="tns:AirlineControllerResponse"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="getFlights" type="tns:getFlights"/>

<xs:element name="getFlightsResponse" type="tns:getFlightsResponse"/>

<xs:complexType name="getFlights">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightInformation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AirlineController">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AirlineControllerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>