RESTClient/src/META-INF/wsdl/localhost_8080/Airline/AirlineService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.airline/" xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.airline/">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=2"/>

<xs:element name="FlightBookException" type="tns:FlightBookException"/>

<xs:element name="FlightCancelException" type="tns:FlightCancelException"/>

<xs:element name="bookFlight" type="tns:bookFlight"/>

<xs:element name="bookFlightResponse" type="tns:bookFlightResponse"/>

<xs:element name="cancelFlight" type="tns:cancelFlight"/>

<xs:element name="cancelFlightResponse" type="tns:cancelFlightResponse"/>

<xs:element name="getFlights" type="tns:getFlights"/>

<xs:element name="getFlightsResponse" type="tns:getFlightsResponse"/>

<xs:complexType name="getFlights">
<xs:sequence>
<xs:element name="startAirport" type="xs:string" minOccurs="0"/>
<xs:element name="endAirport" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightInformation">
<xs:sequence>
<xs:element name="bookingStatus" type="tns:bookingStatus" minOccurs="0"/>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="flight" type="tns:flight" minOccurs="0"/>
<xs:element name="reservationAgency" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="tns:bookingStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="airlineName" type="xs:string" minOccurs="0"/>
<xs:element name="arrivalDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="availableSeats" type="xs:int"/>
<xs:element name="departureDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="flightID" type="xs:int"/>
<xs:element name="flightPrice" type="xs:int"/>
<xs:element name="startAirport" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlight">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="CreditCardInformation" type="ns1:creditCardInfoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightBookException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlight">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="flightPrice" type="xs:int"/>
<xs:element name="CreditCardInformation" type="ns1:creditCardInfoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FlightCancelException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="bookingStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNCONFIRMED"/>
<xs:enumeration value="BOOKED"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>