RESTClient/src/META-INF/wsdl/localhost_8080/Airline/AirlineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.airline/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.airline/" name="AirlineService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.airline/" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="FlightBookException">
<part name="fault" element="tns:FlightBookException"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<message name="FlightCancelException">
<part name="fault" element="tns:FlightCancelException"/>
</message>
<portType name="AirlineController">
<operation name="getFlights">
<input wsam:Action="http://ws.airline/AirlineController/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://ws.airline/AirlineController/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://ws.airline/AirlineController/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://ws.airline/AirlineController/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:FlightBookException" name="FlightBookException" wsam:Action="http://ws.airline/AirlineController/bookFlight/Fault/FlightBookException"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://ws.airline/AirlineController/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://ws.airline/AirlineController/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:FlightCancelException" name="FlightCancelException" wsam:Action="http://ws.airline/AirlineController/cancelFlight/Fault/FlightCancelException"/>
</operation>
</portType>
<binding name="AirlineControllerPortBinding" type="tns:AirlineController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightBookException">
<soap:fault name="FlightBookException" use="literal"/>
</fault>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightCancelException">
<soap:fault name="FlightCancelException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineService">
<port name="AirlineControllerPort" binding="tns:AirlineControllerPortBinding">
<soap:address location="http://localhost:8080/Airline/AirlineService"/>
</port>
</service>
</definitions>