RESTClient/xml-resources/web-service-references/HotelService/wsdl/localhost_8080/Hotel_NiceView/HotelService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.hotel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.hotel/" name="HotelService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.hotel/" schemaLocation="http://localhost:8080/Hotel_NiceView/HotelService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Hotel_NiceView/HotelService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Hotel_NiceView/HotelService?xsd=3"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="HotelBookException">
<part name="fault" element="tns:HotelBookException"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="HotelCancelException">
<part name="fault" element="tns:HotelCancelException"/>
</message>
<portType name="HotelController">
<operation name="getHotels">
<input wsam:Action="http://ws.hotel/HotelController/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://ws.hotel/HotelController/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://ws.hotel/HotelController/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://ws.hotel/HotelController/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:HotelBookException" name="HotelBookException" wsam:Action="http://ws.hotel/HotelController/bookHotel/Fault/HotelBookException"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://ws.hotel/HotelController/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://ws.hotel/HotelController/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:HotelCancelException" name="HotelCancelException" wsam:Action="http://ws.hotel/HotelController/cancelHotel/Fault/HotelCancelException"/>
</operation>
</portType>
<binding name="HotelControllerPortBinding" type="tns:HotelController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HotelBookException">
<soap:fault name="HotelBookException" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HotelCancelException">
<soap:fault name="HotelCancelException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HotelService">
<port name="HotelControllerPort" binding="tns:HotelControllerPortBinding">
<soap:address location="http://localhost:8080/Hotel_NiceView/HotelService"/>
</port>
</service>
</definitions>