Hotel_NiceView/web/WEB-INF/wsdl/fastmoney.imm.dtu.dk_8080/BankService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://fastmoney.imm.dtu.dk" xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fastmoney.imm.dtu.dk">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>

<xs:element name="CreditCardFault" type="tns:CreditCardFaultType"/>

<xs:element name="chargeCreditCard" type="tns:chargeCreditCard"/>

<xs:element name="chargeCreditCardResponse" type="tns:chargeCreditCardResponse"/>

<xs:element name="refundCreditCard" type="tns:refundCreditCard"/>

<xs:element name="refundCreditCardResponse" type="tns:refundCreditCardResponse"/>

<xs:element name="validateCreditCard" type="tns:validateCreditCard"/>

<xs:element name="validateCreditCardResponse" type="tns:validateCreditCardResponse"/>

<xs:complexType name="CreditCardFaultType">
<xs:sequence>
<xs:element name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateCreditCard">
<xs:sequence>
<xs:element name="group" type="xs:int"/>
<xs:element name="creditCardInfo" type="ns1:creditCardInfoType"/>
<xs:element name="amount" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chargeCreditCard">
<xs:sequence>
<xs:element name="group" type="xs:int"/>
<xs:element name="creditCardInfo" type="ns1:creditCardInfoType"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="account" type="ns1:accountType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="refundCreditCard">
<xs:sequence>
<xs:element name="group" type="xs:int"/>
<xs:element name="creditCardInfo" type="ns1:creditCardInfoType"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="account" type="ns1:accountType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chargeCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="refundCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="expirationDateType">
<xs:sequence>
<xs:element name="month" type="xs:int"/>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>