AirlineClientTests/xml-resources/web-service-references/AirlineService/wsdl/localhost_8080/Airline/AirlineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.airline/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.airline/" name="AirlineService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.airline/" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/Airline/AirlineService?xsd=3"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="cancleFlight">
<part name="parameters" element="tns:cancleFlight"/>
</message>
<message name="cancleFlightResponse">
<part name="parameters" element="tns:cancleFlightResponse"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<portType name="AirlineController">
<operation name="getFlights">
<input wsam:Action="http://ws.airline/AirlineController/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://ws.airline/AirlineController/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="cancleFlight">
<input wsam:Action="http://ws.airline/AirlineController/cancleFlightRequest" message="tns:cancleFlight"/>
<output wsam:Action="http://ws.airline/AirlineController/cancleFlightResponse" message="tns:cancleFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://ws.airline/AirlineController/cancleFlight/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://ws.airline/AirlineController/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://ws.airline/AirlineController/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://ws.airline/AirlineController/bookFlight/Fault/CreditCardFaultMessage"/>
</operation>
</portType>
<binding name="AirlineControllerPortBinding" type="tns:AirlineController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancleFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
</binding>
<service name="AirlineService">
<port name="AirlineControllerPort" binding="tns:AirlineControllerPortBinding">
<soap:address location="http://localhost:8080/Airline/AirlineService"/>
</port>
</service>
</definitions>