AirlineClientTests/xml-resources/web-service-references/AirlineService/wsdl/localhost_8080/Airline/AirlineService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.airline/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.airline/">

<xs:element name="getFlights" type="tns:getFlights"/>

<xs:element name="getFlightsResponse" type="tns:getFlightsResponse"/>

<xs:complexType name="getFlights">
<xs:sequence>
<xs:element name="startAirport" type="xs:string" minOccurs="0"/>
<xs:element name="endAirport" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightInformation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightInformation">
<xs:sequence/>
</xs:complexType>
</xs:schema>