RESTClient/src/META-INF/wsdl/localhost_8080/Hotel_NiceView/HotelService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fastmoney.imm.dtu.dk">

<xs:complexType name="hotelInformation">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="hotel" type="tns:hotel" minOccurs="0"/>
<xs:element name="nameOfHotelService" type="xs:string" minOccurs="0"/>
<xs:element name="priceForStay" type="xs:int"/>
<xs:element name="status" type="tns:bookingStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="creditCardNeeded" type="xs:boolean"/>
<xs:element name="hotelName" type="xs:string" minOccurs="0"/>
<xs:element name="pricePerDay" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="bookingStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="UNCONFIRMED"/>
<xs:enumeration value="BOOKED"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>