RESTClient/src/META-INF/wsdl/localhost_8080/Hotel_NiceView/HotelService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://fastmoney.imm.dtu.dk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fastmoney.imm.dtu.dk">

<xs:element name="CreditCardFault" nillable="true" type="tns:CreditCardFaultType"/>

<xs:complexType name="hotelInformation">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:int"/>
<xs:element name="hotel" type="tns:hotel" minOccurs="0"/>
<xs:element name="nameOfHotelService" type="xs:string" minOccurs="0"/>
<xs:element name="priceForStay" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0"/>
<xs:element name="creditCardNeeded" type="xs:boolean"/>
<xs:element name="hotelName" type="xs:string" minOccurs="0"/>
<xs:element name="pricePerDay" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreditCardFaultType">
<xs:sequence>
<xs:element name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>